@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Fira Mono", monospace;
}

.navbar {
  transition: all 0.3s ease;
 
}

.navbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: lightgray;

}

.header {
  background-image: url('./assets/header.jpg');
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.shop-button {
  background-color: rgb(0, 0, 0.5);
  color:white ;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.shop-button:hover {
  background-color: lightgray;
  color: black;
}

.product-image {
  width: 100%; /* Make the image responsive */
  height: 200px; /* Set a fixed height */
  object-fit: cover; /* Ensure the image covers the area without distortion */
}

@media (max-width: 768px) {
  .product-image {
    height: 150px; /* Adjust height for smaller screens */
  }
}